/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--heading-font);
  padding: 2px;
}

:root {
    --primary-color: #07a8dd;
    --secondary-color: #1ecad3;
    --accent1-color: #ffffff;
    --accent2-color: #01030f;
    --heading-font: "Montserrat", sans-serif;
}

/*header styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 30px 10px;
}
.siteName a{
  color: var(--accent2-color);
  text-decoration: none;
  font-size: 33px;
  font-weight: bold;
}
#tools a {
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
}
/*navigatiob styles*/
.navigation{
  background-color: var(--accent2-color);
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
}

.navigation li {
    display: block;
    font-size: large;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--accent1-color);
}

.navigation li:hover {
    background-color: var(--primary-color);
}
/*body styles*/

.hero {
    display: grid;
}
.info {
    background-color: var(--accent1-color);
    grid-row: 1/2;
    grid-column: 1/2;
    color: var(--primary-color);
    width: 50%;
    opacity: 0.8;
    height: 150px;
    padding-top: 10px;
}
.info p{
  margin: 0px;
  font-size: medium;
}
.info h3 {
    margin: 0px;
    font-size: large;
}
.info button {
    background-color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    color: var(--accent2-color);
    font-size: large;
    font-weight: bold;
}

.info button:hover {
    background-color:var(--secondary-color);
    color: var(--accent2-color);
}

.hero picture {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
}

.hero picture img {
    width: 100%;
}
.delorean{
  display: grid;
}
.delorean .first {
  grid-row: 2/3;
}
.delorean .first .upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}
.delorean .first .upgrades .card{
display: flex;
flex-direction: column;
align-items: center;

}
.delorean .first .upgrades .card img{
  width: 70px;
  height: 80px;
  
}
.delorean .first .upgrades .card div{
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  border: var(--accent2-color) solid 2px;
}
.delorean .first .upgrades .card a{
background-color: var(--accent1-color);
width: 100%;
text-align: center;
}

.delorean .second {
  grid-row: 1/2;
}
.delorean .second .list{
  padding: 2px 18px 2px 18px;
}


/* larger screen*/
@media (min-width: 1025px) {
  .siteName a{
  font-size: 43px;
  }
  body{
    background-image: url(/images/site/checkerboard.jpg);
  }

  #wrapper {
      margin: 2% 12% 2% 12%;
      background-color: var(--accent1-color);
      border: var(--primary-color) solid 5px;
      padding: 20px;
      border-radius: 10px;
      }
  .info {
    height: 370px;
    width: 340px;
    padding:30px;
  }
  .info p{
  font-size:xx-large;
  padding-bottom: 70px;
  }
  .info h2 {
      margin: 0px;
      font-size: xx-large;
  }
  .info button {
      font-size: x-large;
      padding: 20px;
      padding-top: 20px;
  }
  .delorean{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .delorean .first {
  grid-column: 1/2;
  grid-row: 1/2;
  }
  .delorean .second {
    grid-column:  2/3;
    grid-row: 1/2;
  }
  .delorean .second .list{
  padding: 10px 25px 10px 25px;
}
  .delorean .second .list li{
  padding: 10px;
  font-size: large;
}
}