/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--heading-font);
  padding: 2px;
}

:root {
    --primary-color: #07a8dd;
    --secondary-color: #006888;
    --accent1-color: #ffffff;
    --accent2-color: #01030f;
    --heading-font: "Montserrat", sans-serif;
}

/*header styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 30px 10px;
}
.siteName a{
  color: var(--accent2-color);
  text-decoration: none;
  font-size: 33px;
  font-weight: bold;
}
#tools a {
    color: var(--accent2-color);
    text-decoration: none;
    font-size:larger;
    margin-right: 15px;
    font-family: cursive;
}
/*navigatiob styles*/
nav{
  background-color: var(--accent2-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
}

nav li {
    display: block;
    font-size: large;
    padding: 0.8rem 10px;
    text-decoration: none;
    color: var(--accent1-color);
}
nav li a{
    color: var(--accent1-color);
    text-decoration: none;  
}
nav li:hover {
    background-color: var(--primary-color);
}
/*body styles*/

.hero {
    display: grid;
}
.info {
    background-color: var(--accent1-color);
    grid-row: 1/2;
    grid-column: 1/2;
    color: var(--secondary-color);
    width: 50%;
    opacity: 0.8;
    height: auto;
    padding-top: 10px;
}
.info p{
  margin: 0px;
  font-size: medium;
  font-weight: bold;
}
.info h3 {
    margin: 0px;
    font-size: x-large;


}
.info button {
    background-color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
    color: var(--accent2-color);
    font-size: large;
    font-weight: bold;
}

.info button:hover {
    background-color:var(--secondary-color);
    color: var(--accent2-color);
}

.hero picture {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/3;
}

.hero picture img {
    width: 100%;
}
.delorean{
  display: grid;
}
.delorean .first {
  grid-row: 2/3;
}
.delorean .first .upgrades{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}
.delorean .first .upgrades .card{
display: flex;
flex-direction: column;
align-items: center;

}
.delorean .first .upgrades .card img{
  width: 70px;
  height: 80px;
  
}
.delorean .first .upgrades .card div{
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  border: var(--accent2-color) solid 2px;
}
.delorean .first .upgrades .card a{
background-color: var(--accent1-color);
width: 100%;
text-align: center;
}

.delorean .second {
  grid-row: 1/2;
}
.delorean .second .list{
  padding: 2px 18px 2px 18px;
}

/* Clasiffication view styles */
#inv-display{
  display: grid;
  justify-content: center;
  gap: 40px;
}
#inv-display li{
  border: #bdcdd1 solid 3px;
  border-radius: 10px;
  padding: 0px;

}
#inv-display li::marker {
  content: "";
}

#inv-display li img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.namePrice{
  text-align: center;
}
 hr{
  background-color: #313030;
}
.namePrice span{
  font-size: 4vw;
}

/* Detail view styles */

#vehicleDetail{
  display: grid;
}

#vehicleDetail img{
  width: 100%;
  height: auto;
}
.vehicleDetails p{
  line-height: 1.5;
}
.vehicleDetails p:nth-child(even){
  background-color: #dde7eb;
}

/* error view styles */
.error_404{
  display: grid;
}
.error_404 p {
  font-size: 6vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:  0px;
  text-align: center;
  font-weight: 700;
}
.error-image{
  width: 100%;
  height: auto;
}
.number_error{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

/*MY account view styles*/
#account-form{
  display: grid;
  background-color: var(--secondary-color);
  padding: 3rem;
  color: var(--accent1-color);
}

#login-form input{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}
#button-form{
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
}
#no-account{
  text-align: center;
  font-size: large;
}
#no-account a{
  color: var(--accent1-color);
}

/*My registration view styles*/
#register{
  border: var(--accent2-color) solid 3px;
  margin: 20px 30px 20px 30px;
}
#register h1{
    margin: 2rem 2rem 0rem 2rem;
}

#register-form{
  padding: 1rem 2rem 2rem 2rem;
  color: var(--accent2-color);
  font-weight: bolder;
}

#login-register input{
  width: 100%;
  padding: 10px;
}
#button-register{
  padding: 10px;
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  background-color: var(--secondary-color);
  color: var(--accent1-color);
}
input:required:invalid, input:focus:invalid {
  border: 2px solid rgb(174, 17, 17);
}
 input:required:valid {
  border: 2px solid rgb(65, 224, 65);
 }
.notice{
  padding: 10px 40px 10px 40px;
  color: #020000;
}
.notice  li{
  font-family: cursive;
  font-weight: 400;
  }
/*Vehicle management view styles*/
#management h1{
    margin: 20px;
  }
#management ul{
    list-style-type: none;
    margin: 20px;
  }
#management ul li{
    font-size: large;
    padding: 10px;
  }

/*Classification view styles */
#add-classification,#add-inventory,#edit-inventory,#delete-inventory{
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--secondary-color);
  padding: 2rem;
  color: var(--accent1-color);
  border-radius: 10px;
}
#add-classification form input,#add-inventory form input,#edit-inventory form input,#delete-inventory form input{
  width: 60%;
  padding: 5px;
  margin: 10px 0px 10px 0px;
}
#add-classification button,#add-inventory button,#edit-inventory button,#delete-inventory button{
  padding: 10px 20px 10px 20px;
}
#add-inventory textarea,#edit-inventory textarea,#delete-inventory textarea{
  width: 100%;
  height: 100px;
}



/* LARGER SCREEN*/
@media (min-width: 1025px) {
  .siteName a{
  font-size: 43px;
  }
  body{
    background-image: url(/images/site/checkerboard.jpg);
  }

  #wrapper {
      margin: 2% 12% 2% 12%;
      background-color: var(--accent1-color);
      border: var(--primary-color) solid 5px;
      padding: 20px;
      border-radius: 10px;
      }
  .info {
    height: 370px;
    width: 340px;
    padding:30px;
  }
  .info p{
  font-size:xx-large;
  padding-bottom: 70px;
  }
  .info h2 {
      margin: 0px;
      font-size: xx-large;
      font-weight: bolder;
  }
  .info button {
      font-size: x-large;
      padding: 20px;
      padding-top: 20px;
  }
  .delorean{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .delorean .first {
  grid-column: 1/2;
  grid-row: 1/2;
  }
  .delorean .second {
    grid-column:  2/3;
    grid-row: 1/2;
  }
  .delorean .second .list{
  padding: 10px 25px 10px 25px;
  }
    .delorean .second .list li{
    padding: 10px;
    font-size: large;
  }
/* Classification view styles */
  #inv-display{
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  }
  .namePrice span{
    font-size: 1.5vw;
  }
  /* Detail view styles */

  #vehicleDetail{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .vehicleDetails p{
    line-height: 1.7;
    font-size: large;
  }
  /* error view styles */
  .error_404{
    grid-template-columns: 1fr 2fr;
  }
  .error_404 p {
    font-size: 3vw;
    text-align:left;
    padding-top: 120px;
  }

  .number_error{
    font-size:5vw;
  }
    /*MY account view styles*/
  #account-form{
  width: 38rem;
  margin: auto;
  }

  #login-form input{
  font-size: medium;
  }
  /*My registration view styles*/
  #register{
  width: 38rem;
  margin: 30px auto 30px auto;
  }
  
  /*Classification view styles */
  #add-classification,#add-inventory,#edit-inventory,#delete-inventory{
    margin: auto;
    width: 38rem;
    font-size: large;
  }
  #add-classification form input,#add-inventory form input,#edit-inventory form input,#delete-inventory form input{
    width: 60%;
  }
}